# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.tmp
*.bak
*.swp
*.swo